@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary1-color: #3498db;
  --primary2-color: #AAD7D9;
  --primary3-color: #FBF9F1;
  --primary4-color: rgb(245, 234, 214);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100%;
}

.alert {
  position: absolute;
  opacity: 0;
}

.alert.active {
  transition: all 0.6s;
  opacity: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, var(--primary1-color), var(--primary2-color), var(--primary4-color));
}

.box {
  background-color: var(--primary1-color);
  padding: 15px;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

select {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

.exchange {
  cursor: pointer;
}

.exchange:hover {
  font-size: 18px;
}

.input-group {
  position: relative;
}

.input-group textarea {
  height: 250px;
  width: 350px;
  padding: 8px;
  outline: none;
  font-size: 17px;
}

#fromText {
  border-radius: 10px 0 0 10px;
}

#toText {
  border-radius: 0 10px 10px 0;
}

#toText.loading {
  color: gray;
  cursor: not-allowed;
}

.btn-translate {
  width: 100%;
  padding: 7px;
  cursor: pointer;
  border: none;
  background-color: var(--primary3-color);
  transition: .4s;
}

.btn-translate:hover {
  background-color: var(--primary4-color);
}

.speaker-from {
  position: absolute;
  top: 88%;
  right: 97%;
  cursor: pointer;
  width: 20px;
}

.speaker-to {
  position: absolute;
  top: 89%;
  right: 47%;
  cursor: pointer;
  width: 20px;
}

.copy-from {
  position: absolute;
  top: 88%;
  right: 94%;
  cursor: pointer;
}

.copy-to {
  position: absolute;
  top: 89%;
  right: 44%;
  cursor: pointer;
}

.display {
  display: none
}

select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-thumb {
  background-color: var(--primary1-color);
  border-radius: 10px;
}

select::-webkit-scrollbar-track {
  background-color: var(--primary4-color);
}

/* Mobil boyut */

@media(width<600px) {
  .speaker-from {
    top: 44%;
    right: 93%;
  }

  .speaker-to {
    top: 94%;
    right: 93%;
  }

  .copy-from {
    top: 44%;
    right: 2%;
  }

  .copy-to {
    top: 94%;
    right: 2%;
  }

  #fromText {
    border-radius: 10px;
  }

  #toText {
    border-radius: 10px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--primary1-color)
  }

}